<div class="row mt-5">
    <div *ngFor="let zapatilla of zapatillas" class="col-lg-4 col-md-6 col-12 mb-4">
      <app-zapatilla-item [zapatilla]="zapatilla"></app-zapatilla-item>
      
    </div>
    <div class="card h-100 col-lg-4 col-md-6 col-12 mb-4">
      <a (click)="newZapatilla()"><img src="https://www.flaticon.com/premium-icon/icons/svg/1665/1665629.svg"  class="card-img-top" alt=""></a>
       <div class="card-body">
            <h5 class="card-title">Añadir nueva zapa</h5>
        </div>
        <div class="card-footer">
            <small class="text-muted"></small>          
        </div>
     </div>

  </div>



  